*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins','sans-serif';
  }
  
  a,
  a:link,
  a:visited,
  a:active {
    color: #3ca9e2;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
    
  /* Starting navbar */
  
  .navbar{
    
    color: white;
    position: fixed;
    top: 0px;
    width: 100%;
    border: 10px;
    border-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .nav-left ul{
    overflow: auto;
    padding-right: 20px;
    padding-bottom: 10px;
    width: fit-content;
    margin-top: 2px;
  }
  
  .nav-left li{
    border-radius: 10px;
    padding-top: 0px;
    padding-bottom: 2px;
    float: right;
    list-style: none;
    margin: 15px 20px;
    padding-top: 7px;
  }
  
  .nav-left li a{
    color: white;
    font-size: 20px;
    /* padding: 10px 20px; */
    text-decoration: none;
    font: optional;
    padding-bottom: 12px;
    padding-top: 12px;
    transition-duration: 0.55s;
    border-radius: 10px; 
    padding-left: 25px;
    padding-right: 25px;  
  }
  
  .nav-left li :hover{
    background-color: rgb(255, 179, 0);
    color: black;
    font-weight: bold;
  }
  
  
  .navbar p{
    font-size: 25px;
    font-family: Handlee;
    font-style:normal;
    padding-top: 20px;
    padding-left: 30px;
    width: fit-content;
  }

  .nav-left .btnLogin-popup
  {
 
    border:0px;
    font-family: Handlee;
    font-style:normal;
    font-weight:600;
  }
 
  /* Navbar Ended */

.logger
{
  display:flex;
  background: url('loginbackground.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

.wrapper
{
  position:relative;
  width:400px;
  height:440px;
  background:transparent;
  border: 2px solid white;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items:center;
  overflow: hidden;
  transform: scale(0);
  transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup
{
  transform: scale(1);
}


.wrapper.active
{
  height: 520px;
}

.wrapper .form-box
{
  width: 100%;
  padding: 40px;
}


.wrapper .form-box.login
{
  transition: transform .18s ease;
  transform:translateX(0);
}


.wrapper.active .form-box.login 
{
  transition: none;
  transform:translateX(-400px);
}



.wrapper .form-box.register
{
  position:absolute;
  transition:none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register
{
  transition: transform .18s ease;
  transform:translateX(0);
}


.wrapper .icon-close
{
  position: absolute;
  top:0;
  right:0;
  width:45px;
  height:45px;
  background:white;
  font-size: 2em;
  color:#000000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor:pointer;
  z-index:1;
}



.form-box h2
{
  font-size: 2em;
  color:white;
  text-align: center;
}

.input-box
{
  position: relative;
  width:100%;
  height:50px;
  border-bottom: 2px solid white;
  margin: 30px 0;
}

.input-box label
{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color:white;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label
{
  top:-5px;
}


.input-box input
{
  width:100%;
  height:100%;
  background:transparent;
  border:none;
  outline:none;
  font-size: 1em;
  color: white;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon
{
  position:absolute;
  right:8px;
  font-size:1.2em;
  color: white;
  line-height: 57px;
}

.remember-forgot
{
  font-size:.9rem;
  color:white;
  font-weight: 500;
  margin: -15px 0 15px;
  display:flex;
  justify-content: space-between;
}

.remember-forgot label input
{
  align-content: white;
  margin-right: 3px;
}

.remember-forgot a
{
  color:white;
  text-decoration: none;
}

.remember-forgot a:hover
{
  text-decoration: underline;
}

.btn
{
  width:100%;
  height:45px;
  background:white;
  border:none;
  outline:none;
  border-radius:6px;
  cursor:pointer;
  font-size: 1em;
  color:rgb(46, 5, 5);
  font-weight: 500;
}

.login-register
{
  font-size: .9rem;
  color:white;
  text-align: center;
  font-weight:500;
  margin: 25px 0 10px;
}

.login-register p a
{
  color:rgb(133, 126, 126);
  text-decoration: none;
  font-weight: 600;
}


.login-register p a:hover
{
  text-decoration: underline;
}

.btn a
{
  text-decoration: none;
  color:rgb(0, 0, 0);
  font-weight:400;
}